################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/trelloApi/v15
obj/Debug/netcoreapp2.1/trelloApi.csprojAssemblyReference.cache
